  <mat-card class="smallcard">
    <mat-card-header>
      <mat-card-title>{{restaurant.name | uppercase}}</mat-card-title>
      <mat-card-subtitle>
        <span *ngIf="restaurant.phone"> Phone: <a href="tel:{{restaurant.phone}}">{{restaurant.phone}}</a> <br></span>

        <span *ngIf="restaurant.website"><br>Website: <a href="{{restaurant.website}}" target="_blank">{{restaurant.name | lowercase}}</a></span>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p *ngIf="restaurant.rating">Rated: {{restaurant.rating}}</p>
      <p *ngIf="restaurant.avgMealPrice">Average Meal Price: {{restaurant.avgMealPrice}}</p>

      <div *ngIf="restaurant.location">Address:
      {{restaurant.location.streetNumber}}{{restaurant.location.apartment}} {{restaurant.location.streetName}} <br>{{restaurant.location.city}} {{restaurant.location.province}} <br>{{restaurant.location.postalCode}} {{restaurant.location.country}}
      </div>
    </mat-card-content>
  </mat-card>

